# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Secrets
.env*
*.env
.env.*
*.key
*.pem*

# AI
.omc
.antigravitycli

# Python
*.pyc
.pytest_cache
__pycache__
.codebrain/
